<div class="header-part">
  <div class="logout-button">
    <button type=submit mat-button (click)='logout()'> Logout ({{user.username}}) </button>
  </div>

  <div class="container mat-elevation-z8">
      <div class="header">

      <mat-input-container floatPlaceholder="never">
        <input matInput #filter placeholder="Filter appointments">
      </mat-input-container>


      <mat-form-field>
          <input matInput  [matDatepicker]="dateStart" placeholder="Date start" (dateChange)="setStartDate($event)">
          <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
          <mat-datepicker #dateStart></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
          <input matInput [matDatepicker]="dateEnd" placeholder="Date end" (dateChange)="setEndDate($event)">
          <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
          <mat-datepicker #dateEnd></mat-datepicker>
      </mat-form-field>

    </div>
    <mat-table #table [dataSource]="dataSource" matSort>
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      
      <ng-container cdkColumnDef="date">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{dateToString(row.date)}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="time">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Time </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{dateToHour(row.date)}} </mat-cell>
      </ng-container>
  
      <ng-container cdkColumnDef="notes">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Notes </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.notes}} </mat-cell>
      </ng-container>

  
  
      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
                  [length]="dataSource.filterLength"
                  [pageIndex]="0"
                  [pageSize]="25"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  